.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* flex: 1 1 auto; */
	height: 100%;
}
.body {
	/* flex: 1 1 auto; */
	min-height: 100%;
	position: relative;
}
.header {
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
}
